[user]
  name = Tomasz Tokarski
  email = tomasz@tomasztokarski.com
[alias]
  r = reset HEAD
  c = commit
  ca = commit -a
  a = add -A
  co = checkout
  h = push
  l = pull
[diff]
  tool = meld
  guitool = meld
