[user]
  name = Tomasz Tokarski
  email = tomasz@tomasztokarski.com
[alias]
  r = reset HEAD
  c = commit
  ca = commit -a
  a = add -A
  co = checkout
  h = push
  l = pull --rebase -s recursive -X ignore-all-space 
[merge]
  tool = vimdiff
[core]
  editor = vim
[color]
  diff = auto
  status = auto
  branch = auto
